out-frames/*
make_*
testing/
data/
.idea/
.ipynb_checkpoints/
X_train*.p
X_test*.p
X_*car*.p
y*.p
output_images/project-video-processed-0.8.mp4
output_images/project-video-processed.mp4
output_images/project_video-processed-10-10.mp4
output_images/test_video-processed-1.mp4
output_images/test_video-processed-2.mp4
output_images/test_video-processed-3.mp4
output_images/test_video-processed-4.mp4
output_images/test_video-processed.mp4
Untitled-Copy1.ipynb
Untitled.ipynb
Untitled1-Copy1.ipynb
Untitled1.ipynb
__pycache__/
