
*.pyc
*.png
vehicles/.DS_Store
vehicles/GTI_Left/.DS_Store
vehicles/GTI_Far/.DS_Store
vehicles/GTI_MiddleClose/.DS_Store
vehicles/GTI_Right/.DS_Store
vehicles/KITTI_extracted/.DS_Store
non-vehicles/GTI/.DS_Store
non-vehicles/Extras/.DS_Store
non-vehicles/.DS_Store
.idea/workspace.xml
.idea/workspace.xml
.idea/workspace.xml
.idea/workspace.xml
